.cajaLemony {
    background-image: url(../img/proyecto2.avif);
    background-size: cover;
    height: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
         img{
             height: 800px;
             width: 100%;
             text-align: center;
          }
}