.displayFather{
    display: flex;
    justify-content: space-between;
    width: 92%;
    padding: 100px;
    background-color: transparent;
    text-align: center;
        .displayIcon{
            text-align: center;
            width: 100%;
        }
             .displayIcon img{
                 width: 200px;
                 height: 200px;
            }
            #displayImg2{
                height: 100px;
                width: 100px;
                padding: 50px;
                box-sizing: unset;
            }
            #displayImg3{
                height: 100px;
                width: 100px;
                padding: 50px;
                box-sizing: unset;
            }
            h3{
                font-family: 'Montserrat';
                font-size: 30px;
            }
}