.cajaLemony {
    background-image: url(../img/proyecto2.avif);
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
         img{
             height: 400px;
             width: 100%;
             text-align: center;
          }
}