.displayFather{
    display: flex;
    justify-content: space-between;
    width: 92%;
    padding: 100px;
    background-color: transparent;
    text-align: center;
        .displayIcon{
            text-align: center;
            width: 100%;
        }
             .displayIcon img{
                 width: 100px;
                 height: 100px;
            }
            #displayImg2{
                height: 70px;
                width: 70px;
                padding: 15px;
                box-sizing: unset;
            }
            #displayImg3{
                height: 80px;
                width: 80px;
                padding: 10px;
                box-sizing: unset;
            }
            h3{
                font-family: 'Montserrat';
                font-size: 1.50rem;
            }
}