.header{
    background-color: #E4CAFD;
    height: 80px;
    ul{
        gap: 20px;
            li{
                list-style: none;
                 .a{
                    text-decoration: none;
                    font-weight: 300;
                    font-size: 1.25rem;
                    color: black;
                    font-family: 'Montserrat';
                }
        } 
    }
} 