/*mixin*/

@mixin sizes ($width,$height) { 
    height: $height;
    width: $width;
}

.cajaImg img{
    @include sizes (800px,800px);
    content: inherit;
    overflow: hidden;
}

.cajaLemony img{
    @include sizes(800px,100% )
    text-align: center;
}

.social-facebook img {
    @include sizes(100%,64px)
  }
  
  .social-instagram img {
    @include sizes(100%,64px)
  }
  
  .social-whatsapp img {
    @include sizes(100%,64px)
  }  

/*extend*/

.Montserrat{
    font-family: 'Montserrat';
}

.displayFather h3{
    @extend .Montserrat;
    font-size: 30px;
}

p{
    @extend .Montserrat;
    font-weight: 200;
    font-size: 40px;
}

form{
    @extend .Montserrat;
    padding: 45px;
    font-weight: bolder;
    font-size: 20px;
}

/*Mapas*/

$botones: (
        elemento: pink,
        piloto: crimson,
        calculador: violet,
);
@each $ton, $color in $botones {
    .btn--#{$ton}{
    background-color: $color;
    margin: 5px;
    border: 2px dotted rgb(37, 130, 188);
    border-radius: 2px;
    }
}
